SECRET=MIICXAIBAAKBgQCQP70AjrOR7gmBIk7vEza5uSRpkFcocbK+vG816NdAWlZURP+8Bk7+Rpt8bXQAyPTE6sgVcJLaEUY4i4pRZ0ALcUqwuIl9sq6N7Q6n5Od62sawJtUIMZL+6MgYYuszjQdlWJqAmOMgcS6jECYUYcoXLdvlWn+O7mqHGONmp78QOwIDAQABAoGAQ2DCU8RUNFHPtrXj0OBUq6PDUlvNmmKhb15tQ+0ivjh0IqCoI5d+xl8Mua4WhVdYnbJdC0auEZYICtmDHkrwKrF6uvHmacCl4790ljkqzh4m9JXFj/o1RLHyNwPfhYcM2h3zLu4uu1B1jiMy2kgeNdIiROi72whWOHXp0gsW4WECQQDnavFA/F0IrPiPD7WBFfhLbs/+72Fnjt8QcfPwou3y83Ra4tDIsUjMOkeUGeOn5ocV5Q92jdHeGo/fpVgtscxFAkEAn5JfUuCw4QCkvkxfKF4TqX4v/0UJ+RrHpDqjPc9eVYRcNhrchpa3xbqqjmdmDjbwmL/iNWyjo6/LxQxZTIRyfwJBALGVJCr9PZsxuM93e43iQRYJo/z6zyE7xrsE5u/q53P/FHPGB/dp6/YkZtckgslOIq1PiG0uaTTp5yv04tS10o0CQEOTjz7f3MhMp3fXi+ziel0rDVSDfke6KZXJJ1yDtyVsGkjnc0CkD0tzU8teyn92kMl/aWLKkTo+toLKSf73kC0CQE0Qz1RnvgL1TV689LgzHHc/ICLgIY4lbNRg/ltDtNRPEB8iPLnZ5LYDFjfNiJ3NMs3ZZGpXfBVOqsdYVpHxeW0=
MONGODB_URL=mongodb://localhost:27017/reprograma